$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$light-color: var(--light-color);
$primary-font: var(--main-font);
$title-font: var(--title-font);
$flip-popup-duration: 0.3s;
$comments-max-width: 500px;

.popup-window {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: all;
  opacity: 0;
  transform: rotate3d(1, 0.5, 0.5, 180deg) scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 1.25rem;
  }

  &--visible {
    opacity: 1;
    transform: rotate3d(1, 0.5, 0.5, 0deg) scale(1);
    transition: all ease-in $flip-popup-duration;
  }

  &--hidden {
    opacity: 0;
    transform: rotate3d(1, 0.5, 0.5, 180deg) scale(0);
    transition: all ease-in $flip-popup-duration;
  }

  &__content {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: $light-color;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    pointer-events: all;
    overflow-y: scroll;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
  }

  .comments-form {
    gap: 0.5rem;
    width: 100%;
    max-width: $comments-max-width;

    & > * {
      width: 90%;
    }

    input,
    textarea {
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-family: $primary-font;
      transition: all ease-in 0.3s;

      &:focus-visible {
        background-color: $secondary-color;
        transform: scale(1.05);
        outline: 1px solid $primary-color;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    #comment-name {
      height: 25px;
    }

    #comment-text {
      height: 50px;
    }

    &__submit {
      width: unset;
      align-self: center !important;
      margin: 0.5rem 0;
    }
  }

  .popup-image {
    width: 90%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    clear: both;
  }
}

.meals-comments {
  width: 100%;
  max-width: $comments-max-width;

  .comments-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow-y: scroll;

    &__item {
      margin-bottom: 1rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: gray;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
      pointer-events: all;
      color: $light-color;
      width: 90%;

      &-header {
        margin-bottom: 0.5rem;
        align-items: center;

        &__info__name {
          font-size: 1.5rem;
          font-weight: bold;
          display: inline-flex;

          &::after {
            content: '-';
            margin: 0 0.5rem;
            font-size: 1rem;
          }
        }

        &__info__date {
          font-size: 1rem;
          text-align: center;
          display: inline-flex;
        }
      }
    }
  }
}

.container {
  border: 1px solid lightgray;
  width: 100%;
  overflow-y: scroll;
  min-height: 330px;
  max-width: 800px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(33, 35, 38, 0.5) 0 10px 10px -10px;
}

.container::-webkit-scrollbar {
  display: none;
}

.container__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(1, minmax(min-content, max-content));
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-columns: minmax(min-content, max-content);
}

.container__item {
  width: 100px;
  color: #4c6067;
  min-height: 30px;
  border-radius: 3px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s;
}

.container__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  margin: 0 30%;
  bottom: 0;
  border-bottom: 1px solid #4c6067;
}

.container__item_active {
  background: #4c6067;
  box-sizing: border-box;
  color: #ebfaff;
  font-weight: 300;
}

.container__link {
  margin: 0;
  padding: 0;
}

.container__inner {
  width: 80%;
  height: 200px;
  margin: 45px auto 35px;
}

.content__subtitle {
  animation-name: smoothTop;
  animation-duration: 0.3s;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  color: #404648;
}

.content__description {
  animation-name: smoothBottom;
  animation-duration: 0.7s;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #404648;
}

.container__inner_hidden {
  display: none;
}

@keyframes smoothTop {
  0% {
    opacity: 0.2;
    transform: translateY(7%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes smoothBottom {
  0% {
    opacity: 0.2;
    transform: translateY(-3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.display_align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iframe {
  width: 300px;
}
