.popup-window {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: all;
  opacity: 0;
  transform: rotate3d(1, 0.5, 0.5, 180deg) scale(0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-window h3 {
  font-size: 1.25rem;
}

.popup-window header {
  flex-direction: column;
  align-items: center;
}

.popup-window--visible {
  opacity: 1;
  transform: rotate3d(1, 0.5, 0.5, 0deg) scale(1);
  transition: all ease-in 0.3s;
}

.popup-window--hidden {
  opacity: 0;
  transform: rotate3d(1, 0.5, 0.5, 180deg) scale(0);
  transition: all ease-in 0.3s;
}

.popup-window__content {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  pointer-events: all;
  overflow-y: scroll;
}

.popup-window__close {
  position: fixed;
  top: 4%;
  right: 6%;
  font-size: 1.5rem;
  color: white;
  width: 33px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
}

.popup-window .comments-form {
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
}

.popup-window .comments-form > * {
  width: 90%;
}

.popup-window .comments-form input,
.popup-window .comments-form textarea {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: var(--main-font);
  transition: all ease-in 0.3s;
}

.popup-window .comments-form input:focus-visible,
.popup-window .comments-form textarea:focus-visible {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  outline: 1px solid var(--primary-color);
}

.popup-window .comments-form input:hover,
.popup-window .comments-form textarea:hover {
  transform: scale(1.05);
}

.popup-window .comments-form #comment-name {
  height: 25px;
}

.popup-window .comments-form #comment-text {
  height: 50px;
}

.popup-window .comments-form__submit {
  width: 100px !important;
  font-size: 16px;
  align-self: center !important;
  margin: 0.5rem 0;
}

.popup-window .popup-image {
  width: 90%;
  max-width: 300px;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  clear: both;
}

.meals-comments {
  width: 100%;
  max-width: 500px;
}

.meals-comments .comments-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.meals-comments .comments-list__item {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: gray;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  pointer-events: all;
  color: var(--light-color);
  width: 90%;
}

.meals-comments .comments-list__item-header {
  margin-bottom: 0.5rem;
  align-items: center;
}

.meals-comments .comments-list__item-header__info__name {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-flex;
}

.meals-comments .comments-list__item-header__info__name::after {
  content: '-';
  margin: 0 0.5rem;
  font-size: 1rem;
}

.meals-comments .comments-list__item-header__info__date {
  font-size: 1rem;
  text-align: center;
  display: inline-flex;
}
