:root {
  --primary-color: #012138;
  --secondary-color: #f9f9f9;
  --gradient-color: #024d83;
  --light-color: #fff;
  --main-font: "Poppins", arial, helvetica, sans-serif;
  --title-font: "Countryside", sans-serif;
}

.dflex-row {
  display: flex;
}

.dflex-flexend-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dflex-column-alignCenter-justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dflex-row-wrap-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
